body {
    background-image : url(https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png);
    background-size: cover;
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
    }

    h1 {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.3);
        margin-right : 32%;
        margin-left : 30%;
        margin-top : 3%;
    }

    h2 {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.3);
        margin-right : 45%;
        margin-left : 45%;
        margin-top : 3%;
    }

    a {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.3);

    }

   form {
    background-color:#FAFAFA;
    margin-left : 40%;
    margin-top : 5%;
    padding:10px;
    width:280px;
    }
   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
    }
   legend {
    color:#DF3F3F;
    font-weight:bold
    }
   label {
    margin-top:10px;
    display:block;
    }
   label.inline {
    display:inline;
    margin-right:50px;
    }
   input, textarea, select, option {
    background-color:#FFF3F3;
    }
   input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    }
   select {
    margin-top:10px;
    }
   input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
    }
   input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
    }